* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #BEEB9F;
    color: #26A69A;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 1vh;
    text-shadow: 3px 2px 2px rgba(169, 199, 59, 0.15);
    scroll-behavior: smooth;
}

#end {
    margin-bottom: -30vh;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.header {
    font-size: 6vw;
}

