<style>
    footer.site-footer {
        background-color: #2a2a2a;
        text-align: center;
        padding: 2rem;
        font-family: "Itim", cursive;
        color: var(--c-textlight);

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    footer .footer-left {
        margin-right: auto;
    }
    footer .footer-center {
        margin: 0 auto;
        text-align: center;
    }
    footer .footer-right {
        margin-left: auto;
        text-align: right;
    }

    footer a {
        color: var(--c-primary);
        text-decoration: underline;
    }

    @media (max-width: 600px) {
        footer .site-footer {
            flex-direction: column;
            text-align: center;
        }
        footer .footer-left,
        footer .footer-center,
        footer .footer-right {
            margin: 0;
            text-align: center;
        }
    }
</style>
<footer id="about" class="site-footer">
    <div class="footer-left">
        <h2>Follow Me:</h2>
        <p><a href="https://twitch.tv/knrc">Twitch</a></p>
        <p><a href="https://bsky.app/profile/knrc.art">Blueskye</a></p>
        <p><a href="https://www.linkedin.com/in/mikeybroz/">LinkedIn</a></p>
    </div>

    <div class="footer-center">
        <h2>Contact</h2>
        <p>E-Mail: <a href="mailto:contact@knrc.art">contact@knrc.art</a></p>
        <p>&copy; 2026 Knrc Games. All rights reserved.</p>
    </div>

    <div class="footer-right">
        <a href="/impressum">Legal Disclosure:</a>
    </div>
</footer>
